html {
    box-sizing: border-box;
    font-family: 'Roboto' , sans-serif;
}

*, *::before , *::after {
    box-sizing: inherit;
    /* border: .5px solid pink; Temporary for layout */
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

:root {
    --header-info-width: 450px;
    --img-quote-width: 700px;
}

.top-container {
    display: flex;
    flex-direction: column;
    height: 500px;
    gap: 50px;
    background-color: #1F2937;
    color: white;
}


.text1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.text1 h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.text1 p, .header-link {
    font-size: 18px;
    color: #E5E7EB;
}

.text1 button {
    background-color: #3882F6;
    color: white;
    font-size: 20px;
    font-weight: 550;
    padding: 5px 15px;
    border-radius: 5px;
    max-width: fit-content;
    
}

.header , .header-links-container {
    display: flex;
}

.header-container {
    display: flex;
    justify-content: center;
    padding: 0 15px;
}

.header {
    justify-content: space-between;
    height: 50px;
    display: flex;
    align-items: center;
    max-width: calc(var(--header-info-width) * 2);
    flex-grow: 1;
}

.logo {
    font-size: 24px;
    color: #F9FaF8;
    font-weight: 850;
}

.header-links-container {
    gap: 10px;
}

.header-info-container {
    display: flex;
    justify-content: center;
    padding: 0 15px;
}

.text1, .header-img {
    width: var(--header-info-width);
    height: 300px;
}

.header-img {
    background-color: gray;
}


/* BEGINNING OF MIDDLE BOX CSS */

.middle-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
}

.middle-header {
    align-content: center;
    height: 50px;
}

.image-container {
    display: flex;
    gap: 30px;
    justify-content: center;
    padding: 0 15px 100px;
    max-width: var(--img-quote-width);
}

.image-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 140px;
}

.box {
    border: 3px solid #3882F6;
    border-radius: 10px;
    height: 150px;
    width: 140px;
    align-items: center;
    justify-content: center;
    display:flex;
}

.box-desc {
    text-align: center;
}

/* Quote container css starts here. */

.quote-container {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.quote-credit {
    display: flex;
    flex-direction:column;

}

.quote {
    max-width: var(--img-quote-width);
    padding: 0 15px;
    font-weight: 300;
    font-size: 36px;
    color: #1f2937;
}

.quote strong {
    font-weight: 700;
}

.credit {
    margin-left: auto;
    padding: 0;
    width:fit-content;
    align-self: right;
}

.person{
    font-size:30px;
    color: #D90A10;
    font-weight: 550;
}

.small {
    margin-left: auto;
    max-width:fit-content;
    background-image: linear-gradient(to right, #fb8637, #cf6a32);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
    font-weight: 600;
}

/* Call to action css bellow */

.call-action-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.blue-box {
    color: white;
    background-color: #3882f6;
    display: flex;
    justify-content: space-around;
    max-width: calc(var(--header-info-width) * 2);
    flex-grow: 1;
    height: 150px; 
    align-items: center;
    border-radius: 10px;
}

.inspiration :nth-child(1) {
    font-weight:600;
    font-size: 20px;
}

.inspiration :nth-child(2) {
    color: white;
}

.sign-up button {
    color: white;
    font-size: 20px;
    background-color: #3882f6;
    padding: 10px 20px;
    border-radius: 8px;
    border: 2px solid white;
}

/* Footer css starts here */

.footer {
    background-color: #1F2937;
    color: white;
    display: flex;
    height: 75px;
    justify-content: center;
    align-items: center;
}