html {
    box-sizing: border-box;
}

*, *::before , *::after {
    box-sizing: inherit;
    border: .5px solid pink; /* Temporary for layout */
}

.top-container {
    display: flex;
    flex-direction: column;
}

.header , .header-links-container {
    display: flex;
}

.header {
    justify-content: space-around;
}

.header-links-container {
    gap: 10px;
}